<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>SoundFilm-Genres</title>
  <link rel="shortcut icon" href="../assets/images/mngrm-black.png">
  <link href="../css/bootstrap.min.css" rel="stylesheet" type="text/css">
  <link href="../css/bootstrap.css" rel="stylesheet" type="text/css">
  <link rel="stylesheet" type="text/css" href="../css/font-awesome.css">
  <link href="../css/main.css" rel="stylesheet" type="text/css">
</head>
<body>
  <main class="container-fluid bkg-darkblue">
    <nav class="col-12 col-sm-12 col-md-12 col-lg-12 bkg-white">
      <img  id="nav-logo" class="col-4 col-sm-4 col-md-2 col-lg-2 mb-20" src="../assets/images/logoblack.png" alt="logo">
      <i class="pull-right fa fa-bars"></i>
    </nav>
    <div class="text-center title">
      <h1 class="display-4 text-yellow"><strong>GENRES</strong></h1>
    </div>
    <div class="row text-center">
      <div class="col-sm-10 offset-1 ">
    <div class="text-center genre mb-20">
      <a href="../views/movie.html">
        <h3 id="genre"></h3>
        <img id="ticket" src="../assets/images/action.png" alt""/>
        <a class="genre-title"></a>
      </a>
    </div>
  </main>
  <footer class="text-center bkg-darkblue">
    <div class="row ">
        <img src="../assets/images/logocolor.png" alt="logo" class="footer-logo">
    </div>
  </footer>
  <!--SCRIPTS-->
  <script src="https://www.gstatic.com/firebasejs/4.8.2/firebase.js"></script>
  <script src="../js/jquery.js"></script>
  <script src="../js/bootstrap.min.js"></script>
  <script src="../js/app.js"></script>
</body>
</html>
