<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>SoundFilm-Logout</title>
  <link rel="shortcut icon" href="../assets/images/mngrm-black.png">
  <link href="../css/bootstrap.min.css" rel="stylesheet" type="text/css">
  <link href="../css/bootstrap.css" rel="stylesheet" type="text/css">
  <link rel="stylesheet" type="text/css" href="../css/font-awesome.css">
  <link href="../css/main.css" rel="stylesheet" type="text/css">
</head>

<body class="bkg-darkblue">
  <main class="container-fluid">
  <!--Logout logo-->
    <section "bkg-darkblue">
      <div class="row">
        <div class="col-sm-10 offset-1">
          <img id="logout-logo" src="../assets/images/logocolor.png" alt="logo">
        </div>
      </div>
      <div class="row">
        <div class="col-sm-10 offset-1 text-center mt-40 mb-40">
          <h2 class="text-yellow"><strong>Come back soon!</strong></h2>
        </div>
      </div>
    </section>
  </main>
<!--/Logout Logo-->
  <footer id="logout-footer" class="bkg-darkblue mt-40 mb-40">
    <div class="row credit">
      <div class="col-sm-10 offset-1 text-center">
        <h3 class="text-white"><strong>Produced By</strong></h3>
        <h1 class="text-yellow">Laboratoria</h1>
        <h5 class="text-white">2018</h5>
      </div>
    </div>
    <footer>
      <!--SCRIPTS-->
      <script src="https://www.gstatic.com/firebasejs/4.8.2/firebase.js"></script>
      <script src="../js/jquery.js"></script>
      <script src="../js/bootstrap.min.js"></script>
      <script src="../js/app.js"></script>
    </body>
    </html>
