<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>movies</title>
    <link rel="shortcut icon" href="../assets/images/mngrm-black.png">
    <link href="../css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href="../css/bootstrap.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" type="text/css" href="../css/font-awesome.css">
    <link href="../css/pantalla-3.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css" />
  </head>

  <body>
   <main class="container-fluid">
     <nav class="col-12 col-sm-12 col-md-12 col-lg-12">
      <img class="col-4 col-sm-3 col-md-1 col-lg-1" src="../assets/images/logo.png" alt="logo">
        <i class="pull-right fa fa-bars"></i>
     </nav>
     <section class="container-fluid">
        <div class="row">
          <span id="movie" class="col-6 col-sm-6 col-md-3 col-lg-3 movie" data-toggle="modal" data-target="#datasheet">
           <div id="poster" class="poster">
           </div>
           <div id="title" class="text-center name">
            <h4>TITLE</h4>
           </div>
          </span>
          <span class="col-6 col-sm-6 col-md-3 col-lg-3 movie" data-toggle="modal" data-target="#datasheet">
           <div class="poster">
           </div>
           <div class="text-center name">
            <h4>TITLE</h4>
           </div>
          </span>
          <span class="col-6 col-sm-6 col-md-3 col-lg-3 movie" data-toggle="modal" data-target="#datasheet">
           <div class="poster">
           </div>
           <div class="text-center name">
            <h4>TITLE</h4>
           </div>
          </span>
          <span class="col-6 col-sm-6 col-md-3 col-lg-3 movie" data-toggle="modal" data-target="#datasheet">
           <div class="poster">
           </div>
           <div class="text-center name">
            <h4>TITLE</h4>
           </div>
          </span>
        </div>
        <div class="row">
          <span class="col-6 col-sm-6 col-md-3 col-lg-3 movie" data-toggle="modal" data-target="#datasheet">
           <div class="poster">
           </div>
           <div class="text-center name">
            <h4>TITLE</h4>
           </div>
          </span>
          <span class="col-6 col-sm-6 col-md-3 col-lg-3 movie" data-toggle="modal" data-target="#datasheet">
           <div class="poster">
           </div>
           <div class="text-center name">
            <h4>TITLE</h4>
           </div>
          </span>
          <span class="col-6 col-sm-6 col-md-3 col-lg-3 movie" data-toggle="modal" data-target="#datasheet">
           <div class="poster">
           </div>
           <div class="text-center name">
            <h4>TITLE</h4>
           </div>
          </span>
          <span class="col-6 col-sm-6 col-md-3 col-lg-3 movie" data-toggle="modal" data-target="#datasheet">
           <div class="poster">
           </div>
           <div class="text-center name">
            <h4>TITLE</h4>
           </div>
          </span>
        </div>
        <div class="row">
          <span class="col-6 col-sm-6 col-md-3 col-lg-3 movie" data-toggle="modal" data-target="#datasheet">
           <div class="poster">
           </div>
           <div class="text-center name">
            <h4>TITLE</h4>
           </div>
          </span>
          <span class="col-6 col-sm-6 col-md-3 col-lg-3 movie" data-toggle="modal" data-target="#datasheet">
           <div class="poster">
           </div>
           <div class="text-center name">
            <h4>TITLE</h4>
           </div>
          </span>
          <span class="col-6 col-sm-6 col-md-3 col-lg-3 movie" data-toggle="modal" data-target="#datasheet">
           <div class="poster">
           </div>
           <div class="text-center name">
            <h4>TITLE</h4>
           </div>
          </span>
          <span class="col-6 col-sm-6 col-md-3 col-lg-3 movie" data-toggle="modal" data-target="#datasheet">
           <div class="poster">
           </div>
           <div class="text-center name">
            <h4>TITLE</h4>
           </div>
          </span>
        </div>
        <!-- modal starts session -->
        <section id="datasheet" class="modal fade" role="dialog">
          <div class="modal-dialog">
            <!-- Modal content -->
            <div class="modal-content">
              <div class="modal-header">
                <h2 id="title-modal" class="text-center">TITLE</h2>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
              </div>
              <div class="main-modal">
                <div id="poster-modal" class="col-8 col-sm-8 col-md-8 col-lg-8 text-center poster-modal">

                </div>
                <div id="movie-tab" class="col-8 col-sm-8 col-md-8 col-lg-8 text-center movie-tab">
                  <div id="information" class="col-12 col-sm-12 col-md-12 col-lg-12 information">

                  </div>
                  <div class="icons">
                   <a href="../views/pantalla-4.html"><i class="fa fa-music"></i></a>
                  </div>

                </div>

              </div>
            </div>
          </div>
        </section>


        <footer class="col-12 col-sm-12 col-md-12 col-lg-12">
          <div class="offset-4 credits">
              <h4 class="offset-2">CREDITS</h4>
              <div class="row brenda">
               <h5>BRENDA MILIÁN</h5><p>BY</p> <a href="#"><h6>LABORATORIA MÉXICO</h6></a>
              </div>
            <div class="row elz">
              <h5>ELZBETH PERÉZ BLANCO</h5><p>BY</p> <a href="#"><h6>LABORATORIA MÉXICO</h6></a>
            </div>
            <div class="row may">
              <h5>MARÍA CRAVIOTTO</h5><p>BY</p> <a href="#"><h6>LABORATORIA MÉXICO</h6></a>
            </div>
            <div class="row sonia">
              <h5>SONIA GAMA</h5><p>BY</p> <a href="#"><h6>LABORATORIA MÉXICO</h6></a>
            </div>
          </div>
        </footer>
   </main>

    <!--SCRIPTS-->
    <script src="https://www.gstatic.com/firebasejs/4.8.2/firebase.js"></script>
    <script src="../js/jquery.js"></script>
    <script src="../js/bootstrap.min.js"></script>
    <script src="../js/app.js"></script>
  </body>
</html>
